<div class="app-sidebar sidebar-shadow">
    <div class="app-header__logo">
        <div class="logo-src"></div>
        <div class="header__pane ml-auto">
            <div>
                <button type="button" class="hamburger close-sidebar-btn hamburger--elastic" data-class="closed-sidebar">
                    <span class="hamburger-box">
                        <span class="hamburger-inner"></span>
                    </span>
                </button>
            </div>
        </div>
    </div>
    <div class="app-header__mobile-menu">
        <div>
            <button type="button" class="hamburger hamburger--elastic mobile-toggle-nav">
                <span class="hamburger-box">
                    <span class="hamburger-inner"></span>
                </span>
            </button>
        </div>
    </div>
    <div class="app-header__menu">
        <span>
            <button type="button" class="btn-icon btn-icon-only btn btn-primary btn-sm mobile-toggle-header-nav">
                <span class="btn-icon-wrapper">
                    <i class="fa fa-ellipsis-v fa-w-6"></i>
                </span>
            </button>
        </span>
    </div>
    <div class="scrollbar-sidebar">
        <div class="app-sidebar__inner">
            <div class="input-holder pt-2">
                <input type="text" class="form-control form-control-sm" placeholder="Type to search">
            </div>
            <ul class="vertical-nav-menu">
                <li class="app-sidebar__heading">Dashboards</li>
                <li>
                    <a href="index.html" class="mm-active">
                        <i class="metismenu-icon pe-7s-rocket"></i>
                        Dashboard Example 1
                    </a>
                </li>
                <li class="app-sidebar__heading">Basic Components</li>
                <li>
                    <a href="#">
                        <i class="metismenu-icon pe-7s-diamond"></i>
                        Employee
                        <i class="metismenu-state-icon pe-7s-angle-down caret-left"></i>
                    </a>
                    <ul>
                        <li><a href="employee"><i class="metismenu-icon"></i>List</a></li>
                        <li><a href="elements-dropdowns.html"><i class="metismenu-icon"></i>Reports</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#">
                        <i class="metismenu-icon pe-7s-diamond"></i>
                        Customer
                        <i class="metismenu-state-icon pe-7s-angle-down caret-left"></i>
                    </a>
                    <ul>
                        <li><a routerLink="customer"><i class="metismenu-icon"></i>List</a></li>
                        <li><a href="elements-dropdowns.html"><i class="metismenu-icon"></i>Reports</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#">
                        <i class="metismenu-icon pe-7s-diamond"></i>
                        Vendor
                        <i class="metismenu-state-icon pe-7s-angle-down caret-left"></i>
                    </a>
                    <ul>
                        <li><a routerLink="vendor"><i class="metismenu-icon"></i>List</a></li>
                        <li><a href="elements-dropdowns.html"><i class="metismenu-icon"></i>Reports</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#">
                        <i class="metismenu-icon pe-7s-diamond"></i>
                        Item Master
                        <i class="metismenu-state-icon pe-7s-angle-down caret-left"></i>
                    </a>
                    <ul>
                        <li><a routerLink="item-master"><i class="metismenu-icon"></i>List</a></li>
                        <li><a href="elements-dropdowns.html"><i class="metismenu-icon"></i>Reports</a></li>
                    </ul>
                </li>
                <li>
                  <a href="#">
                      <i class="metismenu-icon pe-7s-diamond"></i>
                      Stock-Line
                      <i class="metismenu-state-icon pe-7s-angle-down caret-left"></i>
                  </a>
                  <ul>
                      <li><a routerLink="stock-line"><i class="metismenu-icon"></i>List</a></li>
                      <li><a href="elements-dropdowns.html"><i class="metismenu-icon"></i>Reports</a></li>
                  </ul>
              </li>
                <li class="app-sidebar__heading">Adv Components</li>

                <li>
                    <a href="#">
                        <i class="metismenu-icon pe-7s-diamond"></i>
                        Work Order Quotes
                        <i class="metismenu-state-icon pe-7s-angle-down caret-left"></i>
                    </a>
                    <ul>
                        <li><a routerLink="customer"><i class="metismenu-icon"></i>List</a></li>
                        <li><a href="elements-dropdowns.html"><i class="metismenu-icon"></i>Reports</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#">
                        <i class="metismenu-icon pe-7s-diamond"></i>
                        Work Orders
                        <i class="metismenu-state-icon pe-7s-angle-down caret-left"></i>
                    </a>
                    <ul>
                        <li><a routerLink="customer"><i class="metismenu-icon"></i>List</a></li>
                        <li><a href="elements-dropdowns.html"><i class="metismenu-icon"></i>Reports</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#">
                        <i class="metismenu-icon pe-7s-diamond"></i>
                        Sales Order Quotes
                        <i class="metismenu-state-icon pe-7s-angle-down caret-left"></i>
                    </a>
                    <ul>
                        <li><a routerLink="customer"><i class="metismenu-icon"></i>List</a></li>
                        <li><a href="elements-dropdowns.html"><i class="metismenu-icon"></i>Reports</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#">
                        <i class="metismenu-icon pe-7s-diamond"></i>
                        Sales Orders
                        <i class="metismenu-state-icon pe-7s-angle-down caret-left"></i>
                    </a>
                    <ul>
                        <li><a routerLink="customer"><i class="metismenu-icon"></i>List</a></li>
                        <li><a href="elements-dropdowns.html"><i class="metismenu-icon"></i>Reports</a></li>
                    </ul>
                </li>
                <li class="app-sidebar__heading">Single Screens</li>
                <li>
                    <a href="#">
                        <i class="metismenu-icon pe-7s-diamond"></i>
                        Stock-Line
                        <i class="metismenu-state-icon pe-7s-angle-down caret-left"></i>
                    </a>
                    <ul>
                        <li><a routerLink="employee"><i class="metismenu-icon"></i>List</a></li>
                        <li><a href="elements-dropdowns.html"><i class="metismenu-icon"></i>Reports</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>
